# Environments
.env

# MacOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
vnev/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Data
balanced_data.csv
*.csv

# ML Models (Too large for GitHub)
*.pkl
random_forest_model.pkl

# Logs
node_modules/
node-app/node_modules/
